apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: apptremind
spec:
  selector:
    app: auth-service
  ports:
    - name: http
      port: 8081
      targetPort: 8081
  type: ClusterIP
